{% extends "layout.html" %}
{% block body %}

{% if new %}
<form method="POST" action="{{ url_for('files_new')}}" class="margin-bottom-40" role="form">
{% else %}
<form method="POST" action="" class="margin-bottom-40" role="form">
{% endif %}
    <div class="form-group">
    <fieldset>
    <legend> {% if new %} New {% else %} edit {% endif %} file {% if not new %} id={{file.id}} {% endif %} </legend>
    {{ form.hidden_tag() }}

        <div class="col-xs-3">
        {{ form.name(class="form-control", placeholder="Enter name") }}
        </div>
        <div class="col-xs-4">
        {{ form.url (class="form-control", placeholder="Enter url")}}
        </div>

        <div class="col-xs-2">
        {{ form.category(class="form-control", placeholder="Category")}}
        </div>

        <div class="col-xs-2">
             {{ form.submit (class="form-control")}}
        </div>


    </fieldset>
    </div>
</form>

{% if not new %} <a href="{{ url_for('files_all') }}"> Back to Files</a> {% endif %}
{% if new and files %}
<br>
<div class="table-responsive">
<table class="files" id="files">
 <thead>
 <tr>
     <th>Id</th>
     <th>Category</th>
     <th>Name</th>
     <th>Link</th>
     <th>Hash</th>
 </tr>
 </thead>
<tbody>
    {% for file in files %}
        <tr>
        <td><a href="{{ url_for('files_edit', id=file.id) }}"> {{file.id}}</a></td>  <td>{{ file.category}}</td> <td>{{ file.name }}</td> <td>{{file.url}}</td> <td>{{file.hash}}</td>
        </tr>
    {% endfor %}
<tbody>

</table>
</div>
{% endif %}


{% endblock %}