{% extends "layout.html" %}

{% block body %}
<h6>{% if new %} New {% else %} edit {% endif %} category </h6>

{% if new %}
<form method="POST" action="{{ url_for('files_new')}}" class="add-cat">
{% else %}
<form method="POST" action="" class="add-cat">
{% endif %}
    {{ form.hidden_tag() }}

        {{ form.name.label }}:
        {{ form.name }}
        {{ form.url.label }}
        {{ form.url }}
        {{ form.category.label }}
        {{ form.category }}
        {{ form.submit }}


</form>
{% if not new %} <a href="{{ url_for('files_all') }}"> Back to Files</a> {% endif %}
{% if new %}
<br>
<table class="files" id="files">
 <thead>
 <tr>
     <th>Id</th>
     <th>Category</th>
     <th>Name</th>
     <th>Link</th>
     <th>Hash</th>
 </tr>
 </thead>
<tbody>
    {% for file in files %}
        <tr>
        <td><a href="{{ url_for('files_edit', id=file.id) }}"> {{file.id}}</a></td>  <td>{{ file.category}}</td> <td>{{ file.name }}</td> <td>{{file.url}}</td> <td>{{file.hash}}</td>
        </tr>
    {% endfor %}
<tbody>

</table>
{% endif %}


{% endblock %}